<template>
    <div id="question-item">
        <h3 v-html="question.question"></h3>
        <button v-html="answer" v-on:click="answerClicked(answer)" v-for="answer of answers" :key="answer" :title="answer"></button>
    </div>
</template>


<script>
export default {
    name: 'QuestionItem',
    props: {
        question: {
            type: Object
        },
    },
    created() {
        this.initialize(false);
    },
    watch: {
        question: function(){
            this.initialize()
        }
    }, 
    data() {
        return {
            answers: []
        }
    },
    methods: {
        initialize() {
            if(!this.question) {
                return;
            }
            this.answers = [...this.question.incorrect_answers, this.question.correct_answer];
            this.shuffleAnswers(this.answers);
        },
        answerClicked(answer) {
            this.$emit('answer-clicked', answer);
        },   
        shuffleAnswers() {
            for (let i = this.answers.length-1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i + 1));
                [this.answers[i], this.answers[j]] = [this.answers[j], this.answers[i]];
            }
        }
    }
}
</script>


<style scoped>
button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 16px;
    color: #50434F;
    margin: 10px;
    border: none;
    background-color: #CBA8C8;
}
</style>
