<template>
    <div>
        <h4>{{points}}</h4>
        <div v-if="questions.length > 0">      
            <QuestionItem v-on:answer-clicked="handleAnswerClicked" :question="questions[questionIndex]"></QuestionItem>
        </div>
        <div v-if=loading>
            <p>Please wait, we are loading the questions...</p>
        </div>
    </div>
</template>


<script>
import {getQuestions} from '../api/questions.api';
import QuestionItem from './QuestionItem';
//import ResultItem from "./ResultItem";

export default {
    name: "Questions",
    components: {
        QuestionItem
    },
    computed: {
        points() {
            return this.$store.state.points;
        }
    },
    async created() {
        try {
            this.questions = await getQuestions();
        } catch (error) {   
            console.error(error);
        } finally {
            this.loading = false;
        }
    },
    data() {
        return {
            questions: [],
            questionIndex: 0,
            answers: [],
            userAnswers: [],
            loading: true
        };
    },
    methods: {
        handleAnswerClicked(answer) {
            this.questionIndex++;
            this.userAnswers.push(answer);
            this.addPoints(answer);
            this.goToResult();
        },
        
        addPoints(answer) {
            if(answer === this.questions[this.questionIndex-1].correct_answer){
                this.$store.commit("answerCorrectly");
            } else {
                this.$store.commit("answerIncorrectly");
            }
            this.$store.commit("addQuestion", [
                this.questions[this.questionIndex-1].question,
                "Correct answer: " + this.questions[this.questionIndex-1].correct_answer, 
                "Your answer: " + answer]);
        },

        goToResult() {
            if(this.questions.length === this.questionIndex + 1){
                this.$router.push('/result');
            }   
        }
    }
}
</script>


<style scoped>
p {
    color: #50434F;
}
</style>
