<template>
  <div>
    <h2>Result</h2>
    <p>{{points}}</p>
    <ResultItem></ResultItem>
  </div>
</template>


<script>
import ResultItem from './ResultItem';

export default {
  name: "ResultPage",
  components: {
    ResultItem,
  },
  computed: {
    points() {
      return this.$store.state.points;
    }
  }
}
</script>


<style>

</style>
