<template>
    <div>
        <div>
            <p>Correct answers: {{correct}}</p>
            <p>Wrong answers: {{wrong}}</p>
        </div>
        <div>
            <h4>Results</h4>
            <p v-for="test in questions" :key="test">{{test}}
            </p>
        </div>
    </div>
</template>


<script>
export default {

    name: 'ResultItem',
    computed: {
        correct() {
            return this.$store.state.correctAnswers;
        },
        wrong() {
            return this.$store.state.incorrectAnswers;
        },
        questions() {
            return this.$store.state.questions;
        }
    }
}
</script>


<style>

</style>
