<template>
  <div id="startpage">
    <div>
      <h1>{{message}}</h1>
      <router-link to="/questions">
      <button>Start Quiz!</button>
      </router-link>
    </div>
  </div>
</template>


<script>
export default {
  name: "StartPage",
    data() {
      return {
        message: "Welcome to Trivia Quiz!"
      }
    }, 
}
</script>

<style scoped>
button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 100px;
    border-radius: 16px;
    color: #50434F;
    border: none;
    background-color: #CCDEFF;
    font-size: 150%;
}
</style>
